@import 'tailwindcss';

@theme {
    --font-sans: "Inter", sans-serif;
    --primary-btn: #615fff;
    --bg-card:#F9FAFB;
    --text-color:#111827;
    --secondary-text-color:#E5E7EB;

}

@layer base{
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: white;
    }
    /* * {
  outline: 1px solid red;
} */

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
  

}
@layer components{
    .primary-btn{
        background-color: var(--primary-btn);
    }
   

    .bg-card{
        background-color: var(--bg-card) ;
    }
    .text-color{
        color: var(--text-color);
    }
    .secondary-text-color{
        color: var(--secondary-text-color);
    }
}


